<!-- Blog Entries Column -->
			<section class="col-md-8" ng-cloak >
				<h1 class="page-header">All Posts</h1>

				<!-- Begin Post -->
<!-- 				<ul  ng-repeat="post in postData">
					<li>{{post.title}}</li>
				</ul> -->
				<article ng-repeat="post in postsData
									| filter: searchInput
									| postsLimit:quantity:pageNum
									| orderBy: '-date'" >
					<header>
						<h2>
							<a href="#/post/{{cleanTitle(post.title)}}">{{post.title}}</a>
						</h2>

						<p>
							<small class="glyphicon glyphicon-user"></small>
							by <a href="#/posts?author={{post.author}}">{{post.author}}</a>
						</p>
						<p>
							<small class="glyphicon glyphicon-time"></small>
							Posted on: {{post.date | date:'mediumDate'}}
						</p>
					</header>
					<hr>

					<figure>
						<img class="img-responsive" ng-src="{{post.image}}"
							alt="">
					</figure>
					<hr>

					<!-- Post Description -->
					<p>{{post.description}}</p>
					<br>

					<footer class="clearfix">
						<p class="pull-left">
							<b>Tags:&nbsp;</b>
							<span ng-repeat="tag in post.tags">
								<a href="#" class="btn btn-default btn-xs" role="button">{{tag}}</a>
							</span>
						</p>

						<a class="btn btn-primary pull-right" href="#/post/{{cleanTitle(post.title)}}">
							Read More <i class="glyphicon glyphicon-chevron-right"></i>
						</a>
					</footer>
				</article>
				<hr>
				<!-- End of Post -->

				<!-- Pager -->
				<ul class="pager">
				{{pageNum}}
					<li class="previous" ng-hide="pageNum >= (postsData.length / 3)">
						<a href="#/posts/{{pageNum + 1}}{{queryParams}}">&larr; Older</a>
					</li>
					<li class="next" ng-hide="pageNum == 1">
						<a href="#/posts/{{pageNum - 1}}{{queryParams}}">Newer &rarr;</a>
					</li>
				</ul>
			</section>
